.container {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: baseline;
}

.wrapper{
    text-align: center;
    background-color: whitesmoke;
    flex: 1 0 60%;
}

.categoryFormButton{
    flex: 0 1 15%;
    border-radius: 12px;
    height: 3rem;
    margin-left: 10px;
}

.p {
    color: #3a3a3a;
    font-size: 1rem;
    flex: 1;
    color: white;
    padding: 0.9rem;
}
